@media (min-width: 1024px) {
    #home_page {
        
        #tendencies, #trobats {
            padding: 20px 20px 0px 20px ;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }

    }
}