@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}