@font-face {
    font-family: "AlegreyaSans";
    src: url("../fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}